* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background: #E2CE1A;

    font-family: 'Poppins';
    color: #fff;

}

.grupo, #left, #right, .textfield {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.grupo { 
    margin-top: 100px;
 
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

a:hover {
    text-decoration:underline;
}

#left {
    border-radius: 16px 0px 0px 16px;
    background: #36320A;

    width: 304px;
    height: 555px;
    font-size: 23px;
}



h1 {
    font-size: 26px;
}


#entrar {
    width: 232px;
    height: 70px;

    border-radius: 30px;
    border: 4px solid #FFF;

    color: white;
    background: none;

    font-family: 'Poppins';
    text-align: center;
    font-size: 23px;
    font-weight: 700;

    margin-top: 50px;

    transition: transform .2s;
    cursor: pointer;
}

#forgot {
    margin-top: 10px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 50px;
}

#retangle 

#logo {
    margin-top: 148px;
}



#right {
    width: 640px;
    height: 555px;
    background: #FEFAA1;
    border-radius: 0 20px 20px 0;

}

#right > h1 { 
    color: #000;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}

#right > p {
    color: #000;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
}

.textfield {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

.textfield > img{
    position: absolute;
    padding-left:30px;
    padding-top: 2px;
    
}

input {
    width: 480px;
    height: 60px;

    border: none;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
    background: #E2CE1A;
    
    outline: none;

    margin: 16px;
    padding-left: 50px;

    font-family: 'Poppins';
    font-size: 16px;
}

input::placeholder {
   
        position: relative;
        color: #000000;
        font-size: 23px;
        font-weight: 700;
        top: 5%;
    
        font-family: 'Poppins';
        font-size: 23px;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.60);
}

input:focus{
    border-color: #36320A;
}

#cadastrar {
    width: 232px;
    height: 70px;

    border-radius: 30px;
    background: #36320A;
    color: white;
    font-family: 'Poppins';
    text-align: center;
    font-size: 23px;
    font-weight: 700;

    cursor: pointer;
    display: flex;

    transition: transform .5s;
}

#entrar:hover, #cadastrar:hover {
    transform: scale(1.1);
}
